<!-- page to add a new reptile to user's dashboard -->
<div class="container"></br>
	<form action="/added" method="post">
		Name: <input type="text" name="name"><br>
		Sex: <input type="text" name="sex"><br>
		Species: <input type="text" name="species"><br>
		Weight: <input type="text" name="weight"><br>
		Morph: <input type="text" name="morph"><br>
		Sire: <input type="text" name="sire"><br>
		Dam: <input type="text" name="dam"><br>
		Image url: <input type="text" name="url"><br>
		<input type="submit" value="Submit">
	</form>
</div>