<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Herpadex</h1>
    <p>This is a tool for reptile breeders and enthusiasts. We will help you organize your collection of animals and keep track of all their important information.</p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Organize</h2>
      <p>Your entire collection can be displayed in a neatly organized list. You can quickly find exactly what you are looking for.</p>
    </div>
    <div class="col-md-4">
      <h2>Track</h2>
      <p>Easily track your reptile's information, such as sex, weight, age, lineage, morph, and everything else you care about.</p>
    </div>
    <div class="col-md-4">
      <h2>Share</h2>
      <p>Want to show off your reptile? No problem! With just a few clicks you can provide a link to your reptile's profile and share the data with anyone you'd like.</p>
    </div>
  </div>

  <hr>

</div> <!-- /container -->