<div class="container"></br>
	<h1>Thank you for enjoying our free services!</h1>
	<p>You have used up all your free space. Please consider upgrading your account to premium for increased storage space.</p>
	<form action="/payday" method="post"><input type="submit" value="Sure"></form>
	<a href="/" class="btn btn-danger">No, Thanks</a>
</div>